/*Header*/
.header__logo img {
    width: 120px;
    height: 60px;
}
/****Recherche****/
.localisation {
    background-color: gray;
}

/****Main****/
#Restaurants {
    background-color: $grey; 

}

/****Footer****/
footer {
    background-color: $black;
}
